{% extends 'base.html' %}

{% block content %}
<div class="box">
    <h2>제목: {{ post.title }}</h2>
    <div class="detail-img">
        <img src="{{ post.image.url }}" />
    </div>
    <h4>리뷰: </h4><p>{{ post.review }}</p>
    <h4>가격: {{ post.price }} 만원 / 별점: {{ post.starScore }}</h4>
    <h4>댓글: </h4>
    <ol>
        {% for comment in post.comments.all %}
            <li>{{ comment.content }}<a href="{% url 'comment_delete' post.pk comment.pk %}"> 삭제하기</a></li>
        {% endfor %}
    </ol>
    <form method='POST'>{% csrf_token %}
        <div class="comment-box">
            {{ form.as_p }}
            <button type='submit'>등록하기</button>
        </div>
    </form>
    <br>
    <div class="detail-buttons">
        <a href="{% url 'home' %}"><button class="button-size">글 목록으로 돌아가기</button></a>
        <a href="{% url 'delete' post.pk %}"><button class="button-size">삭제하기</button></a>
        <a href="{% url 'edit' post.pk %}"><button class="button-size">수정하기</button></a>
    </div>
</div>
{% endblock %}