{% extends 'base.html' %}

{% block contnet %}
<div>
    <h2>제목: {{ post.title }}</h2>
    <img src="{{ post.image.url }}" />
    <h4>리뷰: {{ post.review }}</h4>
    <h4>가격: {{ pos.price }} 만원</h4>
    <h4>별점: {{ post.starScore }}</h4>
    <h4>댓글: </h4>
    <ol>
        {% for comment in post.comments.all %}
            <li>{{ comment.content }}<a href="{% url 'comment_delete' post.pk comment.pk %}"> 삭제하기</a></li>
        {% endfor %}
    </ol>
    <form method='POST'>{% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>저장</button>
    </form>
    <br>
    <a href="{% url 'home' %}">글 목록으로 돌아가기</a>
    <a href="{% url 'delete' post.pk %}">삭제하기</a>
    <a href="{% url 'edit' post.pk %}">수정하기</a>
</div>
{% endblock %}