.head-font {
    color: rgb(0, 190, 190);
    text-align: center;
    background-color: blanchedalmond;
}
.box {
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 15%;
}
.content-box {
    height: 300px;
    width: 400px;
    padding-left: 50px;
}

.image-box img {
    height: 300px;
    width: 400px;
}