<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% extends "home.html" %}
<body>
    {% block content %}
    <div class="content-box">
        <h1>수정하기</h1>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">수정 !</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>