<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <div class="heading">
        <h1 class="head-font"> 책 리뷰 블로그 </h1>
    </div>
    {% block content %}
    <div class="box">
    
        <div class="content-box">
            <h2> 리뷰 목록 </h2>
                {% for post in posts %}
                <li><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></li><br>
                {% endfor %}
            <a href="{% url 'new' %}">글쓰기</a><br>
        </div>

        <div class="image-box">
            <img src="{% static 'Library.jpg' %}">
        </div>
    </div>
    {% endblock %}
</body>
</html>