/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Optional: Maks the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: red;
    background-color: springgreen;
}
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* home.html */
.home-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.region-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
.zip-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* chosen.html */
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info {
    width: 750px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
}
.info-items {
    width: 250px;
}