<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{user.username}}님의 구독목록</h2>
    <a href='{% url "serviceAll" %}'>모든 서비스 보기</a><br>
    {% for service in myServices %}
        {{service.service.company}}<a href='{% url "removeFromMy" service.service.slug %}'>삭제하기</a><br>
    {% endfor %}
</body>
</html>