/* base.html */
.heading {
    font-size: 30px;
    font-weight: 700;
    color: red;
    display: flex;
    justify-content: center;
    background-color: yellow;
    margin-left: 10%; 
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}
.button-size {
    width: fit-content;
    font-size: 17px;
    border-radius: 5%;
    background-color: rgb(211, 207, 207);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    margin-bottom: 5%;
}
.nav-auth {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}

/* home.html */
.home-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.home-block {
    display: grid;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: 300px 300px 300px;
}
.home-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-images img {
    width: 200px;
    height: 170px;
}


/* detail.html */
.comment-box textarea {
    width: 200px;
    height: 30px;
}

.detail-img img {
    width: 300px;
    height: 200px;
}

.detail-buttons {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}